body {
    background: rgb(30,30,30);
    font-family: comic;
}

#lab8 {
	background: rgb(150,150,255);
}

.profile .data{
    margin: auto;
    min-width: 50%;
    top: 10%;
    left: 0;
    right: 0;
    padding-bottom: 20px;
}

html {
    padding: 0;
    margin: 0;
}

.profile .cover {
	width: 100%;
}

.profile .picture{
	width: 20%;
	height: 10%;
    display: block;
    margin-top: -20%;
    z-index: 1;
}

.postStatus {
	font-size: 130%;
	width: 20%;
	height: 40px;
	padding: 5px;
	margin-bottom: 30px;
}

#postInput {
	font-size: 150%;
    width: 80%;
    height: 40px;
    padding: 5px;
}

.login {
    text-align: center;
    width: 100%;
    font-size:200%;
}

.logout {
	text-align: center;
	margin-left: 20%;
	width: 20%;
	font-size: 100%;
}

.feed {
	background-color: rgb(150, 200, 250);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 10px;
    margin-top: 10px;
}

footer {
	color: white;
    font-size: 20px;
    padding-left: 8%;
}

.btn-danger {
	font-size: 130%;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 0px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}
