    {% extends "lab_4/layout/base.html" %}

    {% block content %}
    <h1 class="text-header" style="text-align: center">Portofolio</h1>
    <hr/>
    <section name="bio">
        <img src="https://filebin.net/rkwapgb71qariwhr/82519.jpg" alt="Kautsar Fadlillah" height="200" width="200" style="border-radius: 50%;" 
        />
        <div style="position: absolute; left: 330px; top: 200px">
            <h2 class="text-header">Bio</h2>
            <p class="text">
                {{content}}
            </p> 
        </div>   
    </section>
    <hr/>
    <section name="about_me">
        <h2 class="text-header" style="text-align: center">List</h2>
        <ul style="position: relative; left: 430px">
            {% for ii in about_me %}
            <li class="text"> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
    <section name="form" style="position: absolute; left: 500px">
        <h2 class="text-header" style="text-align: center">Send Message</h2>
        {{ errors }}
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button class="text" type="submit" class="btn btn-default" style="position: absolute; left: 110px;">Submit</button>
        </form>
    </section>

    {% endblock %}
