{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 900px;
        height: 50px;
        top: 45%;
        left: 35%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
    }
    .status {
        font-family: "Comic Sans MS";;
        font-size: xx-large;
        color: rgb(230, 230, 255);
    }
</style>
<div class="center_screen">
    <p class="status" id="test">Hello, this is {{ name }}. {{ content }}.</p>
</div>
{% endblock %}