body {
    background: rgb(30,30,30);
    font-family: comic;
}

#lab8 {
	background: rgb(150,150,255);
}

.profile .data{
    margin: auto;
    min-width: 50%;
    top: 10%;
    left: 0;
    right: 0;
    padding-bottom: 20px;
}

html {
    padding: 0;
    margin: 0;
}

hr {
	border-color: black;
	border-width: 2px;
}

.profile .cover {
	width: 100%;
}

.profile .picture{
	width: 20%;
	height: 10%;
    display: block;
    margin-top: -20%;
    z-index: 1;
}

.postStatus {
	font-size: 130%;
	min-width: 200px;
	width: 20%;
	height: 40px;
	padding: 5px;
	margin-bottom: 30px;
	word-wrap: break-word;
}

#postInput {
	font-size: 150%;
    width: 78%;
    height: 40px;
    padding: 10px;
}

.login {
    text-align: center;
    margin-left: -2%;
    width: 105%;
    font-size: 200%;
}

#name {
	width: 80%;
}

.logout {
	text-align: center;
	width: 20%;
	min-width: 100px;
	font-size: 80%;
	margin-left: 40%;
	word-wrap: break-word;
}

.feed {
	background-color: rgb(150, 200, 250);
    border-style: solid;
    border-color: black;
    border-width: 2px;
    padding: 10px;
    margin-top: 10px;
    word-wrap: break-word;
}

footer {
	color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 6%;
}


#deletePost {
	font-size: 130%;
}

.content {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* Custom navbar style */
.navbar-static-top {
   margin-bottom: 20px;
}
.navbar-default .navbar-nav>li>a {
   cursor: pointer;
}
/* Textarea not resizeable */
textarea {
   resize:none
}

@media only screen and (max-width: 768px) {
	#postInput {
	    width: 100%;
	}

	#name {
		width: 100%;
	}
}