<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>
<style>
    table, th, td {
        width: 450px;
        border: 3px solid rgb(60, 60, 60);
        border-style: outset;
        margin-top: 25px;
        margin-bottom: : 25px;
        padding-right: 15px;
        padding-left: 15px;
    }
    td.subject {
        background-color: rgb(40, 40, 40);
    }
    .subject{
        text-align: left;
        font-family: "Comic Sans MS";
        color: rgb(100, 255, 255);
        font-size: 20px;
        padding-right: 8px;
        padding-left: 8px;
        width: 160px;
    }
    .value {
        font-weight: 600;
        text-align: left;
        font-family: "Comic Sans MS";
        color: rgb(230, 230, 255);
        font-size: 20px;
    }
    .text{
        font-size: x-large;
        font-family: "Comic Sans MS";
        color: rgb(230, 230, 255);
        text-align: center;
    }
    .date, .activity {
        font-family: "Comic Sans MS";
        color: rgb(230, 230, 255);
    }
    .container-fullwidth {
        margin-bottom: 30px;
    }
    .nav-link {
        font-size: 20px;
    }
</style>
<body style="background-color: rgb(0, 90, 140);">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg navbar-dark" style="background-color: rgb(20, 50, 90);">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">Home</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">Diary</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>
